html,body
{
    border: 0;
    margin: 0;
    top: 0;
    max-width: 100%;
}


.my-head
{
    background-color: #090954;
    color: white;
    padding: 0.25% 0 0.25% 15%;
}

.div-title
{
    background-image: url("img/background.jpg");
    min-height: 20%;
    text-align: center;
    color: white;
    padding: 3% 0;
}
.content
{
    width: 70%;
    padding: 1% 15%;

}
.content-form
{
    display: inline-block;
    width: 29%;
}
.card
{
    border: 1px solid #DDDDDD;
}
.content-image
{
    display: inline-block;
    width: 70%;
}
.my-chat
{
    width: 80%;
    height: auto;
}

.div-info
{
    background-color: #DDDDDD;
    padding: 1% 15%;

}

.content-bloc-text
{
    display: inline-block;
    width:79%;
}
.content-bloc-image
{
    display: inline-block;
    width: 20%;
    height: auto;
    text-align: right;

}


.tete-chat
{
    width: 90%;
    height: auto;
    background-color: #090954;

}
.my-footer
{
    background-color: #090954;
    color: white;
    text-align: right;
    padding: 0.15% 0.5% 0.15% 0;
}

input
{
    display: block;
}